body {
    background-color: rgb(22, 22, 22);
    font-family: 'VT323', monospace;
}

.center {
    margin: auto;
    width: 95%;
    border: 3px dashed white;
    padding: 10px;
    text-align: center;
    color: white;
    animation: rgb-border .1s infinite;
}

.center h1 {
    font-size: 70px;
}

@keyframes rgb {
    0%   {color:red;}
    25%  {color:yellow;}
    50%  {color:blue;}
    75%  {color:green;}
    100% {color:red;}
}

@keyframes rgb-border {
    0%   {border:red dashed 3px;}
    25%  {border:yellow dashed 3px;}
    50%  {border:blue dashed 3px;}
    75%  {border:green dashed 3px;}
    100% {border:red dashed 3px;}
}

.center p {
    font-size: 25px;
}

p {
    text-align: justify;
}

.navbar {
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}

ul li{
    display: inline-block;
    padding: auto;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.navbar a:hover {
    text-decoration: underline;
    animation: rgb .1s infinite;
}